body {
    font-family: 'Roboto Mono',monospace;
    min-height: 350px;
    color:#ffffff;
    background-image: url('');
    background-color:#7f0008;
    background-size: 75vh;
    backgrond-position: center bottom;
    background-repeat: no-repeat;
  }
  input {
    border-radius: 15px;
    padding: 4px;
    margin: 9px;
  }
  input[type=number]{
    width: 59px;
  }
  .container {
    text-align: center;
    padding: 30px;
    height: 125vh;
  }
  .page-title {
    margin: 2 2 5px;
  }
  .page-subtitle {
    font-size: 75px
      margin-top: 5px;
  }
  .texto {
    font-size: 64px
      margin-top: 5px;
    text-align: left;
  }

  .resultado {
    font-size: 23px;
    margin: 16px;
    border-radius: 9px;
    padding: 4px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    background-color:#720008;
  }
  .cod_fonte {
    text-align: left;
  }